.table1 {
	position: absolute;
	left: 35%;
	width: 30%;
}
.table2 {
	position: absolute;
	left: 42%;
	top: 30%;
	width: 15%;
}
.table3 {
	position: absolute;
	left: 39%;
	top: 42%;
	width: 20%
}
.Post {
	width: 25%;
}
.OfficerName{
	width: 40%;
}
.ContactNumber{
	width: 35%;
}
.Post1 {
	width: 65%;
}
.ContactNumber1{
	width: 35%;
}
